<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "12">
<plist version="1.0">
    <dict>
        <key>midmain</key>
        <dict>
            <key>lzd</key>
            <string>0</string>
            <key>speed</key>
            <string>1</string>
            <key>postype</key>
            <string>2</string>
            <key>28</key>
            <dict>
                <key>y</key>
                <string>-218</string>
                <key>x</key>
                <string>779.85</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>20.074356079101562</string>
                <key>sy</key>
                <string>2.539581298828125</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>black piece</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>29</key>
            <dict>
                <key>y</key>
                <string>-108.10000000000002</string>
                <key>x</key>
                <string>369.9</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>ground</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>30</key>
            <dict>
                <key>y</key>
                <string>-108.10000000000002</string>
                <key>x</key>
                <string>1108.95</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>ground</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>31</key>
            <dict>
                <key>y</key>
                <string>-108.10000000000002</string>
                <key>x</key>
                <string>1840.5</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>ground</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>32</key>
            <dict>
                <key>y</key>
                <string>-108.10000000000002</string>
                <key>x</key>
                <string>2580.8</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1.4622955322265625</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>ground</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>33</key>
            <dict>
                <key>y</key>
                <string>-218.54999999999995</string>
                <key>x</key>
                <string>2336.1</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>20.228729248046875</string>
                <key>sy</key>
                <string>2.539581298828125</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>black piece</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>34</key>
            <dict>
                <key>y</key>
                <string>-218.54999999999995</string>
                <key>x</key>
                <string>3306.35</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>20.228729248046875</string>
                <key>sy</key>
                <string>2.539581298828125</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>black piece</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>35</key>
            <dict>
                <key>y</key>
                <string>-108.10000000000002</string>
                <key>x</key>
                <string>3657.05</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1.4622955322265625</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>ground</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>36</key>
            <dict>
                <key>y</key>
                <string>-110</string>
                <key>x</key>
                <string>-98</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>11.9080810546875</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>line</string>
                <key>type</key>
                <string>1</string>
            </dict>
        </dict>
        <key>mid_stuff</key>
        <dict>
            <key>lzd</key>
            <string>1</string>
            <key>speed</key>
            <string>1</string>
            <key>postype</key>
            <string>2</string>
            <key>37</key>
            <dict>
                <key>y</key>
                <string>-83</string>
                <key>x</key>
                <string>88.45</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>ground plant_1</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>38</key>
            <dict>
                <key>y</key>
                <string>-95.55000000000001</string>
                <key>x</key>
                <string>454.55</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>ground plant_2</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>39</key>
            <dict>
                <key>y</key>
                <string>-67.44999999999999</string>
                <key>x</key>
                <string>761.45</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1.856964111328125</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>ground plant_3</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>40</key>
            <dict>
                <key>y</key>
                <string>-100.89999999999998</string>
                <key>x</key>
                <string>1108.95</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>ground plant_6</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>41</key>
            <dict>
                <key>y</key>
                <string>-48.94999999999999</string>
                <key>x</key>
                <string>1183.2</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>ground plant_5</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>42</key>
            <dict>
                <key>y</key>
                <string>-57.05000000000001</string>
                <key>x</key>
                <string>143.95</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>ground plant_5</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>43</key>
            <dict>
                <key>y</key>
                <string>-81.19999999999999</string>
                <key>x</key>
                <string>2248.25</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>180</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>ground plant_1</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>44</key>
            <dict>
                <key>y</key>
                <string>-98.89999999999998</string>
                <key>x</key>
                <string>1680.15</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>ground plant_6</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>45</key>
            <dict>
                <key>y</key>
                <string>-83.19999999999999</string>
                <key>x</key>
                <string>1619.05</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>180</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>ground plant_1</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>46</key>
            <dict>
                <key>y</key>
                <string>-100.55000000000001</string>
                <key>x</key>
                <string>2017.8</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1.52056884765625</string>
                <key>sy</key>
                <string>0.7704315185546875</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>ground plant_2</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>47</key>
            <dict>
                <key>y</key>
                <string>-10.949999999999989</string>
                <key>x</key>
                <string>3949.25</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>ground plant_5</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>48</key>
            <dict>
                <key>y</key>
                <string>-95.55000000000001</string>
                <key>x</key>
                <string>2858.45</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1.2363739013671875</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>ground plant_2</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>49</key>
            <dict>
                <key>y</key>
                <string>-67.44999999999999</string>
                <key>x</key>
                <string>3091.35</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1.856964111328125</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>ground plant_3</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>50</key>
            <dict>
                <key>y</key>
                <string>-100.55000000000001</string>
                <key>x</key>
                <string>3428.1</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1.52056884765625</string>
                <key>sy</key>
                <string>0.7704315185546875</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>ground plant_2</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>51</key>
            <dict>
                <key>y</key>
                <string>-89.60000000000002</string>
                <key>x</key>
                <string>3964.7</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1.6695098876953125</string>
                <key>sy</key>
                <string>1.919769287109375</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>ground plant_2</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>52</key>
            <dict>
                <key>y</key>
                <string>-79.64999999999998</string>
                <key>x</key>
                <string>4019.05</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>180</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>ground plant_1</string>
                <key>type</key>
                <string>0</string>
            </dict>
        </dict>
        <key>mid_near2</key>
        <dict>
            <key>lzd</key>
            <string>2</string>
            <key>speed</key>
            <string>0</string>
            <key>postype</key>
            <string>2</string>
            <key>53</key>
            <dict>
                <key>y</key>
                <string>-38.69999999999999</string>
                <key>x</key>
                <string>2017.55</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>44.50321960449219</string>
                <key>sy</key>
                <string>1.322723388671875</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>zhongjingwuqi</string>
                <key>type</key>
                <string>0</string>
            </dict>
        </dict>
        <key>mid_near1</key>
        <dict>
            <key>lzd</key>
            <string>3</string>
            <key>speed</key>
            <string>0.7</string>
            <key>postype</key>
            <string>2</string>
            <key>54</key>
            <dict>
                <key>y</key>
                <string>-95.85000000000002</string>
                <key>x</key>
                <string>611</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>zhongjingsan_8</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>55</key>
            <dict>
                <key>y</key>
                <string>-59.94999999999999</string>
                <key>x</key>
                <string>234.9</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1.0401763916015625</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>zhongjingsan_7</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>56</key>
            <dict>
                <key>y</key>
                <string>-29.30000000000001</string>
                <key>x</key>
                <string>247.1</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>zhongjingwujian_2</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>57</key>
            <dict>
                <key>y</key>
                <string>-35.85000000000002</string>
                <key>x</key>
                <string>570.8</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>0.7101593017578125</string>
                <key>sy</key>
                <string>0.6226654052734375</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>zhongjingwujian_1</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>58</key>
            <dict>
                <key>y</key>
                <string>81.85</string>
                <key>x</key>
                <string>376.65</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>zhongjingta</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>59</key>
            <dict>
                <key>y</key>
                <string>-107.85000000000002</string>
                <key>x</key>
                <string>1251</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1.0401763916015625</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>zhongjingsan_7</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>60</key>
            <dict>
                <key>y</key>
                <string>-24.600000000000023</string>
                <key>x</key>
                <string>1748.3</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>zhongjingta</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>61</key>
            <dict>
                <key>y</key>
                <string>-54.14999999999998</string>
                <key>x</key>
                <string>1352.6</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>0.6963653564453125</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>180</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>zhongjingwujian_1</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>62</key>
            <dict>
                <key>y</key>
                <string>-124.14999999999998</string>
                <key>x</key>
                <string>2474.6</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>0.9345703125</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>180</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>zhongjingsan_7</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>63</key>
            <dict>
                <key>y</key>
                <string>-98.35000000000002</string>
                <key>x</key>
                <string>2352.1</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>0.6366424560546875</string>
                <key>sy</key>
                <string>0.5350341796875</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>zhongjingwujian_2</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>64</key>
            <dict>
                <key>y</key>
                <string>-88.85000000000002</string>
                <key>x</key>
                <string>2826.85</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1.0401763916015625</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>zhongjingsan_7</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>65</key>
            <dict>
                <key>y</key>
                <string>-46.05000000000001</string>
                <key>x</key>
                <string>2695.25</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>zhongjingwujian_2</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>66</key>
            <dict>
                <key>y</key>
                <string>40.94999999999999</string>
                <key>x</key>
                <string>2910.95</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>zhongjingta</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>67</key>
            <dict>
                <key>y</key>
                <string>-133.85000000000002</string>
                <key>x</key>
                <string>3685.6</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1.0401763916015625</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>zhongjingsan_7</string>
                <key>type</key>
                <string>0</string>
            </dict>
        </dict>
        <key>mid_far2</key>
        <dict>
            <key>lzd</key>
            <string>4</string>
            <key>speed</key>
            <string>0.3</string>
            <key>postype</key>
            <string>2</string>
            <key>68</key>
            <dict>
                <key>y</key>
                <string>-31.5</string>
                <key>x</key>
                <string>672.7</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>zhongjingsan_1</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>69</key>
            <dict>
                <key>y</key>
                <string>-32.25</string>
                <key>x</key>
                <string>982.45</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>0.987762451171875</string>
                <key>sy</key>
                <string>1.189971923828125</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>zhongjingsan_2</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>70</key>
            <dict>
                <key>y</key>
                <string>-9.5</string>
                <key>x</key>
                <string>1303.95</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>zhongjingsan_3</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>71</key>
            <dict>
                <key>y</key>
                <string>72.35</string>
                <key>x</key>
                <string>20.6</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1.000091552734375</string>
                <key>sy</key>
                <string>1.4986114501953125</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>-0.72210693359375</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>zhongjingsan_4</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>72</key>
            <dict>
                <key>y</key>
                <string>-37.94999999999999</string>
                <key>x</key>
                <string>1567.1</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>zhongjingsan_5</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>73</key>
            <dict>
                <key>y</key>
                <string>113.6</string>
                <key>x</key>
                <string>1579.65</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>zhongjingsan_6</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>74</key>
            <dict>
                <key>y</key>
                <string>-53.69999999999999</string>
                <key>x</key>
                <string>1912.4</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>zhongjingsan_2</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>75</key>
            <dict>
                <key>y</key>
                <string>-72.94999999999999</string>
                <key>x</key>
                <string>2261.25</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>zhongjingsan_1</string>
                <key>type</key>
                <string>0</string>
            </dict>
        </dict>
        <key>mid_far1</key>
        <dict>
            <key>lzd</key>
            <string>5</string>
            <key>speed</key>
            <string>0.2</string>
            <key>postype</key>
            <string>2</string>
            <key>76</key>
            <dict>
                <key>y</key>
                <string>21.94999999999999</string>
                <key>x</key>
                <string>483.45</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>yuanjingsan_5</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>77</key>
            <dict>
                <key>y</key>
                <string>31.5</string>
                <key>x</key>
                <string>961.25</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>yuanjingsan_1</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>78</key>
            <dict>
                <key>y</key>
                <string>177.2</string>
                <key>x</key>
                <string>976.25</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>yuanjingsan_2</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>79</key>
            <dict>
                <key>y</key>
                <string>6.949999999999989</string>
                <key>x</key>
                <string>1854.15</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>yuanjingsan_5</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>80</key>
            <dict>
                <key>y</key>
                <string>-1.1000000000000227</string>
                <key>x</key>
                <string>2738.7</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>yuanjingsan_5</string>
                <key>type</key>
                <string>0</string>
            </dict>
        </dict>
        <key>top_sky</key>
        <dict>
            <key>lzd</key>
            <string>6</string>
            <key>speed</key>
            <string>0.1</string>
            <key>postype</key>
            <string>0</string>
            <key>81</key>
            <dict>
                <key>y</key>
                <string>241.25</string>
                <key>x</key>
                <string>1678.9</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>0.9061126708984375</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>bg_topsky1</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>82</key>
            <dict>
                <key>y</key>
                <string>241.25</string>
                <key>x</key>
                <string>842.7</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>0.9061126708984375</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>bg_topsky1</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>83</key>
            <dict>
                <key>y</key>
                <string>241.25</string>
                <key>x</key>
                <string>8.5</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>0.9061126708984375</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>bg_topsky1</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>84</key>
            <dict>
                <key>y</key>
                <string>261.5</string>
                <key>x</key>
                <string>626.65</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1.085296630859375</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>yuanjingsan_3</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>85</key>
            <dict>
                <key>y</key>
                <string>268.15</string>
                <key>x</key>
                <string>286.45</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1.10833740234375</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>yuanjingsan_4</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>86</key>
            <dict>
                <key>y</key>
                <string>267.15</string>
                <key>x</key>
                <string>1368.55</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1.229583740234375</string>
                <key>sy</key>
                <string>1.3964385986328125</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>yuanjingsan_3</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>87</key>
            <dict>
                <key>y</key>
                <string>295.1</string>
                <key>x</key>
                <string>2106.05</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1</string>
                <key>sy</key>
                <string>1.10833740234375</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>yuanjingsan_4</string>
                <key>type</key>
                <string>0</string>
            </dict>
            <key>88</key>
            <dict>
                <key>y</key>
                <string>329.1</string>
                <key>x</key>
                <string>2471.3</string>
                <key>zd</key>
                <string>0</string>
                <key>sx</key>
                <string>1.4965057373046875</string>
                <key>sy</key>
                <string>1.3614959716796875</string>
                <key>skewX</key>
                <string>0</string>
                <key>skewY</key>
                <string>0</string>
                <key>ro</key>
                <string>0</string>
                <key>name</key>
                <string>yuanjingsan_3</string>
                <key>type</key>
                <string>0</string>
            </dict>
        </dict>
    </dict>
</plist>