<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "12"><plist version="1.0"> <dict>  <key>stand</key><dict><key>ip</key><string>true</string><key>id</key><string>true</string><key>isr</key><string>true</string><key>an</key><array><dict><key>fn</key><string>0000</string><key>br</key><dict><key>x</key><string>-43.05000000000001</string><key>y</key><string>-73.55000000000001</string><key>width</key><string>86.1</string><key>height</key><string>147.1</string></dict></dict></array></dict></dict></plist>